/* colors */
:root{
    --blue-dark-contrast: #030200;
    --dark: #393939;
    --grey: #e4e4e4;
    --light-grey: #f6f6f6;
    --light: #f8f8f8;
    --white: #ffffff;
    --orange: #f7732c;
    --black: #000000;
    --active: rgb(34, 34, 34);

    --font-family: 'Poppins', sans-serif;
}