<div class="container-fluid">
    <div class="row not__found">
        <div class="col-md-12 d-flex justify-content-center">
            <div class="not__found-content">
                <h3>Oops!</h3>
                <h2>404 Not Found</h2>
                <p>
                    Sorry, Requested page not found!
                </p>
                <div class="col-12">
                    <a routerLink="/" class="btn btn-primary">
                        Go Back to Home
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>