<div class="card">
    <form [formGroup]="movieForm" (ngSubmit)="onSubmitMovie()">
        <div class="card-header d-flex justify-content-between">
            <h2 *ngIf="movieToEdit">Update movie</h2>
            <h2 *ngIf="!movieToEdit">Add movie</h2>
            <div class="card-buttons">
                <button *ngIf="movieToEdit" (click)="backToList()" class="btn btn-default">Cancel</button>
                <button *ngIf="movieToEdit" class="btn btn-primary" >Update movie</button>
                <button *ngIf="!movieToEdit" class="btn btn-primary" [disabled]="!movieForm.valid">Add new movie</button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="title">Movie Title</label>
                        <input type="text" formControlName="title" placeholder="Enter movie title ..."
                            class="form-control" id="title" name="title">
                        <small *ngIf="title.invalid && (title.dirty || title.touched)"
                            class="form-text text-danger">Invalid
                            or missing movie title. min 3 lenght</small>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <label for="release">Release Date</label>
                        <input type="date" formControlName="release" class="form-control" id="release" name="release">
                        <small *ngIf="release.invalid && (release.dirty || release.touched)"
                            class="form-text text-danger">Invalid or missing release date</small>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <label for="image">Movie Image</label>
                        <div *ngIf="movieToEdit" class="avatar-preview">
                            <small>Su imagen esta pre cargada, si desea cambiarla adjunte una nueva</small>
                        </div>
                        <input type="file" (change)="onFileChange($event)" id="image" name="image"
                            placeholder="Upload an image" formControlName="image">
                        <small *ngIf="image.invalid && (image.dirty || image.touched)"
                            class="form-text text-danger">Invalid
                            or missing image</small>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label for="description">Description:</label>
                        <textarea formControlName="description" placeholder="Enter description movie ..."
                            class="form-control" id="description" name="description" rows="6"></textarea>
                        <small *ngIf="description.invalid && (description.dirty || description.touched)"
                            class="form-text text-danger">Invalid or missing description. min 15 or max 500 length
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>